*{
    padding:0;
    margin: 0;
    box-sizing:border-box;

}
li{
    list-style: none;
}
#main{
    position:relative;
    margin-left:200px;
    width: 300px;
    height: 500px;
    /*background: linear-gradient(90deg,lightsteelblue, rgb(118,119,120));*/
    background: rgb(128,128,126);
    font-family:'微软雅黑';

}
#header{
    width:100%;
    height: 40px;

}
.headerbar{
    width: 200px;
    margin:0 auto;
    border:1px solid #666;
}
#content{
    position:relative;
    width: 100%;
    height: 350px;

}
.animat{
    animation: revole 12s infinite linear;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.edge{
    width:228px;
    height:228px;
    border-radius:50%;
    background: rgb(106,98,98);
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition:0.5s;
}
.wordsong{
    width: 230px;
    height: 255px;

    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
    overflow: auto;
    font-size:14px;
    text-align: center;
}
#contro{
    /*position: relative;*/
    width: 100%;
    height: 110px;

}
.reduce{
    width:30px;
    height: 40px;

    line-height: 40px;
}
.reduce img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top:10px;
}
.style{
    position: absolute;
    top:10px;
    right:10px;
    width: 25px;
    height:25px;

}
.style img{
    width: 25px;
    height: 25px;
    border-radius:50%;
}
.musiceinfo{
    position:absolute;

    line-height:20px;
    left:40px;
    top: 0;
}
.musiceinfo .singer{
    font-size:10px;
    color: #ccc;
}
.song{
    font-size: 10px;
}
.contro-cnt{
    position: absolute;
    width:300px;
    margin-top:20px;
}
.contro-cnt:after{
    display: block;
    content: '';
    clear: both;
}
.progress{
    height: 20px;
}
.contro-cnt li{
    float: left;
    width: 100px;
    text-align: center;;
}
.songcover{
    width:150px;
    height: 150px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;

}
.songcover img{
    width:150px;
    height: 150px;
    border-radius:50%;
}
.rubber{
    width: 220px;
    height: 220px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
    background: linear-gradient(45deg,#000, rgb(128,128,126));


}

.stylecnt{
    width:100px;
    height:360px;
    z-index:99;
    font-size:12px;
    position:absolute;
    top:34px;
    left:-59px;
    border:1px solid black;
    overflow: auto;
    display:none;
    background-color:#fff;

}
.hide{
    display:none;
}
.show{
    display:block;
}
.icon-volume-up{
    position: relative;
}
#volchunk{
    position: absolute;
    top:-80px;
    left: -35px;
    transform:rotate(-90deg);
    width: 140px;
    height:30px;
    border:1px solid black;
    display: none;
    background: rgb(233, 251, 228);
}
.vol:hover #volchunk{
    display:block;
}
.mute{
    display:none;
}
.befortime{
    position: absolute;
    font-size:10px;
    color:#ccc;
    top:50%;
    left:-45px;
    transform:translate(0,-50%)
}
.time{
    position: absolute;
    font-size:10px;
    color:#ccc;
    top:50%;
    left:215px;
    transform:translate(0,-50%)
}
.progress{
    position:relative;
    margin:0 auto;
    border: 1px solid transparent;
    width:200px;
    height: 1px;
    background: #ccc;
    border-radius:2px;

}
.slider{
    position:absolute;
    width:15px;
    height:15px;
    top:50%;
    left:-1px;
    transform:translate(0%,-50%);
    background-color: #ccc;
    border-radius:50%;
}
.pause{
    display: none;
}
.play img,.pause img{
    width: 50px;
    height: 50px;
    color: #000;
}
.play,.pause{
    margin:0 auto;
}
.pre img,.next img{
    width: 36px;
    height: 36px;
    margin-top:7px;
}
.pre img{
    margin-left:45px;
}
.next img{
    margin-left:-45px;
}
.vol{
    margin-bottom:10px;
    position: relative;
}
.volme {
    width: 15px;
    margin-left: 30px;
}
.volslip{
    width:100px;
    border:1px solid #ffffff;
    height:1px;
    position:absolute;
    top:50%;
    transform:translate(0%,-50%);
    margin-left:50px;
    transition:0.5s;

}
.volslider{
    position: absolute;
    top:50%;
    transform:translate(0,-50%);
    width: 10px;
    height: 10px;
    left:50px;
    background: #ffffff;
    border-radius:50%;
}
.skin{
    position: absolute;
    top:50%;
    right:30px;
    transform:translate(0,-50%);
}
.skin img{
    width: 15px;
}
@keyframes revole{
    0%{transform: rotate(0deg);
        }
    100%{transform: rotate(360deg);
        }
}